
  .kune {
    color: $primary;
  }


  .home-landing {
    margin-bottom: 2em;
   
    img{
      width: 80%;
      padding: 3em 3em  0 3em;
    }
    &-left {
      text-align: left;
      flex-basis: 50%;

      h1 {
        font-size: 1em;
        font-weight: bold;
        
        padding-top: 5em;
       
      }
     
      h2 {
        font-size: 2em;
        font-weight: bold;
        line-height: 0.95em;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      p {
        line-height: 2.2em;
      }
    }

  }
  @media (min-width: 40em) {
    .home-landing {
      display: flex;
      flex-direction: row-reverse;     
      justify-content: center;
      align-items: center;
      margin:auto;
      
padding-bottom: 2em;
      h2{
        font-size: 3em;

      }
       &-right {
      

      padding-top: 2rem;
      padding-left: 4rem;
      img{
        width: auto;
        padding:0;
      }
    }
    }

  }
  .category-picker {
    background: $primaryLight;
    margin: 0;
    width: 100%;
    padding-block: 2rem;
   
    &-text {
      display: block;
      
      text-align: center;
      margin: 0 30%;


    }
  }
  .category-container {
    display: grid;
    place-items: left;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding: 1rem 0;
    
    margin-inline: auto;
    width: min(60%, 70.5rem);
  }
  .category-box {
    margin-left: auto;
    padding-inline:1em;

    
    a{      
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 1em;
      color: $clr-secondaryDark;      
      font-size: 20px;
     
     
      text-decoration: none;
      margin: 0;
    
      font-size: 0.6em;
      transition: all 0.2s;
    
      
      
    }
    
    &:hover {
      a{
        
       
       
        color:$clr-primary;
        .chevron-right{
          transform:translateX(3px) ;
          transition: all 0.5s ease-in-out;
        }
      
        transition: all 0.4s;

      }
    }
  }
  
  @media (min-width:40em){
    .category-container{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .category-box{
      a{
        font-size: 1.4em;
      }
    }
  }
  
  .motivation-section {
    margin-block: 4em;
 
    font-size: smaller;
    min-height: fit-content;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:4em//margin: 4em;
    
  }

