
  .kune {
    color: $clr--primary;
    font-weight: bolder;
  }


  .home-landing {   
  
    &-left {
      text-align: left;
      flex-basis: 50%;      
    }

  }
  @media (min-width: 40em) {
    .home-landing {
      display: flex;
      flex-direction: row-reverse;     
      justify-content: center;
      align-items: center;
     
      
      margin:auto;      
  

     
  }

}
  .category-picker {
    
 
    margin: 0;
    padding-block: 2rem;
   
    &-text {
      display: block;
      
      margin: 0 20%;

      text-align: center;
    }
  }
  .category-container {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    place-items: left;
    justify-content: center;
      
    
    padding: 1rem 0;
    margin-inline: auto;
    
  }
  .category-box {
    margin-left: auto;
    padding-inline:1em;

    
    a{      
      display: flex;
      gap: 1em;
      justify-content: left;
      align-items: center;

      margin: 0;
      
      color: $clr--secondaryDark;    
     
      
      text-decoration: none;

      transition: all 0.2s;

    }
    
    &:hover {

      a{
        color:$clr--primary;
        .chevron-right{
          transform:translateX(3px) ;
          transition: all 0.5s ease-in-out;
        }
        
        transition: all 0.4s;
        
      }
    }
  }
  
.motivation-section{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  margin: 2em 0;
 

 
  

  .motivation-card{

    h3{
      color:$clr--secondaryDark;
      text-decoration: underline $clr--primary;
    }
    p{
      color: $clr--dark;
    }
    background: $clr--primaryLight;
    padding: 2em;
    margin-inline: 2em;
    width: 15em;
  }
}

  @media (min-width:40em){
    .category-container{
      grid-template-columns: 1fr 1fr 1fr;

    }

  
  }


