.grid-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;

  justify-content: center;
  
  height: 100vh;
  max-width: 1400px;
  margin-top: 16px;

}

#page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 3em;
  width: 100%;
  padding:0 2em;

  border-top: 1px solid $clr--light;
  border-bottom: 1px solid $clr--light;

}

#sort-services {
  padding-left: 1em;
  height: 1.6em;

  border-left: 1px solid $clr--secondary;

  &-heading {
    margin: 0;
    padding: 0;
  
    
    color: $clr--secondaryDark;
  
    cursor: default;
  }
  
  &-type {
    margin: 0;
    padding: 0;   

    cursor: pointer;
  }
}
#sort-services-type{
  &:hover{
     color: $clr--secondaryDark;
  }
}