.grid-wrap {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  gap: 5em;
  max-width: 1400px;
}

#page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  height: 3em;
  padding:0 2em;
  width: 100%;

}

#sort-services {
  border-left: 1px solid $secondary;
  padding-left: 1em;
  height: 1.6em;

  &-heading {
    font-size: 11px;
    color: $secondaryDark;
    margin: 0;
    padding: 0;
    cursor: default;
  }
  
  &-type {
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}
#sort-services-type{
  &:hover{
     color: $secondaryDark;
  }
}