footer{
    position:relative;
  bottom:0;
    margin-top: auto;
     width:100%;
     height:fit-content;   /* Height of the footer */
     background:$clr-secondary;
    p{text-align: center;}
   
  }