footer{
  grid-area: footer;

  position:relative;
  bottom:0;
    
  height: fit-content; /* Height of the footer */
  background: $clr--secondary;
  margin-top: auto;
  
  p{
    text-align: center;
  }
   
  }