header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 999;

  // margin-inline: auto;
  width: 100%;
  max-width: 1440px;
  padding-inline: 2rem;
  background-color: $clr--secondaryLight;
  max-height: 4em;
  margin-left: auto;
  margin-right: auto;

  // box-shadow: 0px 3px 3px -3px #888;

  nav,
  ul,
  li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;

    li {
      a {
        text-decoration: none;
        color: $clr--dark;
      }
      transition: all 0.5s;
    }
    li:hover {
      text-decoration: underline 2px solid $clr--primary;
      transition: all 0.5s;
    }
  }

  .nav-item {
    text-decoration: none;
    color: $clr--dark;
  }

  .bars-menu {
    display: none;
  }
 
  .fa-times:hover::after {
    position: relative;

    width: 1.2em;

    color: $clr--primary;
  }
  .icon-chevron {
    transform: scaleY(-1);
    transition: transform 0.5s;
  }
}
@media (max-width: 40em) {
  .nav-small-screen {
    display: none;
  }

  header {
    align-items: center;
    margin-top: 0.5em;
    .bars-menu {
      display: inline-block;
    }
    .bars-menu:hover {
      color: $clr--secondaryDark;
      cursor: pointer;
    }
  }
}
