.colorful-button {
  background-color: $clr--primary;
  padding: 0.3rem 1rem;

  
  text-decoration: none;
  color: $clr--dark;
  font-weight: 600;
 
  border-radius: 4px;
  box-shadow: 0px 1px 3px #bbb;
  
  &:hover {
    background-color: $clr--primaryLight;
    color: $clr--dark;
    transition: background-color 0.5s;
  }
}

.logo {
  text-decoration: none;
  color: $clr--primary;
  font-family: 'Palanquin Dark';
  font-weight: 900;
}

#services-category-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: $clr--secondaryLight;
  height: 1.6em;
  padding-inline: 1em;
  
  border-radius: 4px;
  border: 1px solid $clr--secondary;
  box-shadow: 0px 1px 3px #bbb;

  &-txt {
    
    margin: 0;
    padding: 0;
  }
}
