.colorful-button{
    background-color: $primary ;
    color: $dark;
    border: 2px solid $secondaryDark;

    text-decoration: none;
    

}

.logo{
    text-decoration: none;
    color:$primary;
    font-weight: 900;
    
}

#services-category-btn{
    display: flex;
    justify-content: center;
    align-items: center;
     border: 1px solid $secondary;
     border-radius: 4px;
    height: 1.6em;
    padding-inline: 1em;
    box-shadow: 0px 1px 3px #bbb;
    gap: 1em;
        
    &-txt{
      font-size:16px;
      margin: 0;
      padding: 0;
    }
  }