.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
 
.bars-menu{
z-index: 99999;
}
 
 .menu-container {
    display: none;
   
    transition: top 1s;
    
    .bar {
      width: 32%;
      height: 0em;

     
      
      a {
        text-decoration: none;
        color: $clr--dark;    
        
        &:hover {
          color: $clr--secondaryDark;
          //letter-spacing: 0.2em;
          transition: all 0.5s;
        }
      }
    }
    &-active {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;
     
    

      
      
      position: fixed;
     z-index: 1;
     
      
      background-color: $clr--secondaryLight;
      height: 19em;
      width: 100%;
      padding: 3em;
 

     
      
     
     
      box-shadow: 0px 3px 3px -3px #888;
      transition: all 1s ;
    }
  }