
// colors

$clr--primary:#FC871F;
$clr--primaryLight: #FFF4EA;
$clr--transparentPrimary:#FC871F99;

$clr--secondary: #9fc1cc;
$clr--secondaryDark: #5C8487;
$clr--secondaryLight: #E4F3FC;

$clr--transparentDark:#5C8487dd;
$clr--dark: #2F3530;
$clr--Dark: #3f5758;
$clr--light: #fff;
$clr--gradient:linear-gradient(46deg, #FC871Fbb ,#9fc1ccff);

$sc--sm: 40em;
$sc--md: 60em;
