
:root {
/*Miscellaneous*/
--sc--sm: 40em;
--sc--md: 60em;
--clr--text: hsl(0, 0%, 9%);
--clr--bg: hsl(203, 80%, 94%);
--clr--primary: hsl(28, 97%, 55%);
--clr--secondary: hsl(195, 31%, 71%);
--clr--accent:  #1f1f20;
--clr--text-dark: #e3f3fc;
--clr--bg-dark: #181818;
--clr--secondary-dark: #17262b;
--radius-sm: 0.5em;

/* Font Sizes */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}

/* semantic color variables for this project */
@media (prefers-color-scheme: light){
:root {
	--color--bg: var(--clr--bg);
	--color--heading:  var(--clr--text);
	--color--text: var(--clr--text);
	--clr--gradient: linear-gradient(46deg, var(--clr--primary), var(--clr--secondary));
--color--secondary: var(--clr--secondary);
--color-card-bg: var(--clr--secondary);
}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color--bg:var(--clr--bg-dark);
		--color--heading: var(--clr--text-dark);
		--color--text: var(--clr--text-dark);
		--color--secondary: var(--clr--secondary-dark);
		--color-card-bg: var(--clr--accent);		
		}
}
.light{
	--color--bg: var(--clr--bg);
	--color--heading:  var(--clr--text);
	--color--text: var(--clr--text);
	--clr--gradient: linear-gradient(46deg, var(--clr--primary), var(--clr--secondary));
	--color--secondary: var(--clr--secondary);
--color-card-bg: var(--clr--secondary);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;

	font-weight: normal;
}

html {
	height: 100%;
}

body {
	/* color: var(--color--text); */
	background: var(--color--bg);
	transition: color 0.5s, background-color 0.5s;
	/* line-height: 1.6; */
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: var(--step--1);
	text-rendering: optimizeLegibility;
	min-height: 100%;
	/* position: relative; */
}
button,input,textarea,select, option		 {
	font-family: inherit;
	font-size: inherit;
	line-height: 1;
	border: none;
	background-color: var(--clr--accent);
	color: var(--clr--text-dark);
	padding: 0.5rem 1rem;
	margin: 0;	
	width: max-content;
}
input
#app {
	min-height: 100%;
	grid-template-rows: 1fr 500px 1fr;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
a, a:visited {
	color: inherit;
	text-decoration: none;	
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,.h1{
	font-size: var(--step-3);
	/* letter-spacing: -1px; */
	line-height: 1.1;
font-weight: 700;
margin: 0;
}
h2{
	font-size: var(--step-2);	
	
}
h3{
	font-size: var(--step-1);
	font-weight: 700;	
}
