*,
*::before,
*::after {
  box-sizing: border-box;
 
}


[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}




body {
  background: $clr--secondaryLight;
  margin: 0;
  min-height: 100vh;
  line-height: 1;
  

}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}





blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}


#app {
  /* grid container settings */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(1fr, auto) auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  height: 100vh;
  

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $clr--dark;


}



 main {
  grid-area: main;
 
 
}

