@use '../abstracts/variables' as *;
html,
body {

  background: $secondaryLight;
 
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $dark;
}
